<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h1>Sign in</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <form [formGroup]="formSingin" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Introduce email"
            [ngClass]="{
              'is-invalid': formSingin.get('email')?.invalid && formSingin.get('email')?.touched,
              'is-valid': formSingin.get('email')?.valid && formSingin.get('email')?.touched
            }" />
          <div class="invalid-feedback">
            <small *ngIf="formSingin.get('email')?.errors?.['required']">
              Debe de introducir una dirección de email.
            </small>
            <small *ngIf="formSingin.get('email')?.errors?.['email']">
              El formato del correo introducido no es válido.
            </small>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password"
            placeholder="Introduce contraseña" [ngClass]="{
              'is-invalid': formSingin.get('password')?.invalid && formSingin.get('password')?.touched,
              'is-valid': formSingin.get('password')?.valid && formSingin.get('password')?.touched
            }" />
          <div class="invalid-feedback">
            <small *ngIf="formSingin.get('password')?.errors?.['required']">
              Lo sentimos, pero no ha introducido una contraseña.
            </small>
            <small *ngIf="formSingin.get('password')?.errors?.['invalidPassword']">
              La contraseña no cumple con los requisitos mínimos.
            </small>
          </div>
        </div>

        <!-- Repeat Password Field -->
        <div class="form-group">
          <label for="repeatPassword">Repeat Password</label>
          <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword"
            placeholder="Repite contraseña" [ngClass]="{
              'is-valid': formSingin.get('repeatPassword')?.valid &&
                          !formSingin.hasError('passwordsMismatch') &&
                          formSingin.get('repeatPassword')?.touched,
              'is-invalid': formSingin.hasError('passwordsMismatch') &&
                            formSingin.get('repeatPassword')?.touched
            }" />
          <div class="invalid-feedback">
            <small *ngIf="formSingin.hasError('passwordsMismatch')">
              Las contraseñas no coinciden.
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="formSingin.invalid">Sign In</button>
      </form>
    </div>
  </div>
</div>