<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h1>Sign in</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <form [formGroup]="formSingin" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
            placeholder="Email"
            [ngClass]="{'is-invalid': formSingin.get('email')?.invalid, 'is-valid': formSingin.get('email')?.valid}">
          <div class="invalid-feedback">
            <small *ngIf="formSingin.get('email')?.errors?.['required']">Debe de introducir una dirección de
              email</small>
            <small *ngIf="formSingin.get('email')?.errors?.['email']">El formato del correo introducido no es
              correcto</small>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password"
            [ngClass]="{'is-invalid': formSingin.get('password')?.invalid, 'is-valid': formSingin.get('password')?.valid}">
          <div class="invalid-feedback">
            <small *ngIf="formSingin.get('password')?.errors?.['required']">Lo sentimos, pero no ha introducido una
              contraseña</small>
            <small *ngIf="formSingin.get('password')?.errors?.['invalidPassword']">La contraseña no cummple con los
              requisitos mínimos</small>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPasswordRepeat">Repeat Password</label>
          <input type="password" class="form-control" id="exampleInputPasswordRepeat" placeholder="Repeat Password"
            [ngClass]="{'is-valid': formSingin.get('repeatPassword')?.valid && !formSingin.hasError('passwordsMismatch'),
                                     'is-invalid': formSingin.hasError('passwordsMismatch') && formSingin.get('repeatPassword')?.touched}">
        </div>
        <div class="text-danger" *ngIf="formSingin.hasError('passwordsMismatch')">
          Las contraseñas no coinciden.
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </div>
</div>