<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/tasks">TaskManager</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link">Inicio</a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" routerLink="/tasks">Tareas</a>
              </li>
              <li class="nav-item dropdown" *ngIf="isAuthenticated">
                <a class="nav-link dropdown-toggle" routerLink="/dashboard" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dashboard
                </a>
                <ul class="dropdown-menu" *ngIf="isAuthenticated">
                  <li><a class="dropdown-item" routerLink="/dashboard/stats">Stats</a></li>
                  <li><a class="dropdown-item" routerLink="/dashboard/profile">Profile</a></li>
                </ul>
              </li>
              <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>

              <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" routerLink="/singin">Register</a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated">
                <button class="btn btn-primary" (click)="onClick()">Singout</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>