<input [(ngModel)]="nombre">
{{nombre}}
<input type="number" [(ngModel)]="numero"><input/>
<img [src]="'https://picsum.photos/200/300?random='+numero"><img/>
<!-- Otra forma de hacerlo -->
<!--<p [textContent]="nombre"></p>-->
<img [src]="imagenAleatoria"><img/>
<button (click)="muestraImagen()">Cambiar imagen</button>

<ol>
    <li><a routerLink="/list">Listado</a></li>
    <li><a routerLink="/profile">Perfil</a></li>
</ol>
<div class="container">
    <div class="row">
        <div class="column md 12">
            <app-navbar></app-navbar>
        </div>
        <div class="column md 12">
            <app-tasklist></app-tasklist>
        </div>
        <div class="column md 12">
            <app-footer></app-footer>
        </div>
    </div>
</div>
<router-outlet/>