<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Listado de Tareas</h3>
    </div>
    <div class="col-md-12">
      <ng-container *ngFor="let task of taskList">
        <div class="card"
          [ngClass]="{' text-bg-danger': task.priority=='H','text-bg-success':task.priority=='L','text-bg-warning':task.priority=='M'}"
          *ngIf="task.isDelete == false">
          <div class="card-body ">
            <h5 class="card-title">{{task.name}} ({{task.getStatusText()}})</h5>
            <div class="accordion accordion-flush" [id]="'accordionFlushExample'+task.id">
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'flush-headingOne'+task.id">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#flush-collapseOne'+task.id" aria-expanded="false" [attr.aria-controls]="'flush-collapseOne'+task.id">
                    {{task.description}}
                  </button>
                </h2>
                <div [id]="'flush-collapseOne'+task.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-headingOne'+task.id"
                  [attr.data-bs-parent]="'#accordionFlushExample'+task.id">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    {{task.description}}
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine
                    this being filled with some actual content.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    {{task.description}}
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at least
                    at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>
            </div>
          </div>
        </div>